@model List<ApplicationUser>
@{
    ViewBag.Title = "Kullanıcılar";
    ViewBag.HeaderTitle = "Kullanıcılar";
}

<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kullanıcı Adı</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model[i].UserName</td>
                        <td>
                            @*<input type="checkbox" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success" data-off-text="Pasif" data-on-text="Aktif">*@
                            @Html.CheckBox("IsEnabled", Model[i].IsEnabled,
                           new
                           {
                               data_bootstrap_switch = "",
                               data_off_color = "danger",
                               data_off_text = "Pasif",
                               data_on_color = "success",
                               data_on_text = "Aktif",
                               data_user_id = Model[i].Id

                           })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
         var table = $(".table").DataTable({
                    order: [[0, "asc"]],
                            language: {
                         url: "@Url.Content("~/Areas/Admin/plugins/datatables/Turkish.json")"
                            }
                     });

        // admin switchini disable yap
        var adminId = "@User.Identity.GetUserId()";
        $('input:checkbox[data-user-id= "' + adminId + '"]').prop("disabled",true);
        // inputlardan type checkbox olan datauserid si adminId olan attribute disabled ı disabled yap


        $("input[data-bootstrap-switch]").bootstrapSwitch({
            size: "small",
            onSwitchChange: function (event, state) {
                var userId = $(this).data("user-id");

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangeStatus", "Users")",
                    data: { UserId : userId, IsEnabled: state },
                    success: function (result) {

                    }
                });
            }
        });
    </script>
}