@model Category
    @{
        var isNew = Model.Id == 0;


        ViewBag.Title = isNew ? "Yeni Kategori" : "Kategoriyi Düzenle";
        ViewBag.HeaderTitle = isNew ? "Yeni Kategori" : "Kategoriyi Düzenle";

    }

    @using (Html.BeginForm(isNew ? "New" : "Edit", "Categories", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)

        <div class="card card-primary card-outline">

            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(x => x.CategoryName)
                    @Html.TextBoxFor(x => x.CategoryName, new  {@class = "form-control", placeholder = "Kategori adı giriniz." })
                    @Html.ValidationMessageFor(x => x.CategoryName, null, new { @class = "text-danger"})
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
            <!-- /.card-footer -->
        </div>

    }

    @section  scripts {
        <script>
        $(function () {
            $("#Content").summernote({
                lang: "tr-TR",
                height: 300,
                placeholder: "İçeriği giriniz..",
               // https://stackoverflow.com/questions/21628222/summernote-image-upload
                callbacks: {
                    onImageUpload: function (files) {
                        uploadFile(files[0]);
                    }
                }
            });

            //https://stackoverflow.com/questions/19447435/ajax-upload-image
            function uploadFile(file) {
                var formData = new FormData();
                formData.append("file", file);

                $.ajax({
                    type: 'POST',
                    url:"@Url.Action("AjaxImageUpload", "Posts")",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        $('#Content').summernote("insertImage", data.url);// url controllerdan geliyor.data nesneyi taşıyor
                        console.log(data);
                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data);
                    }
                });
            }
        });
        </script>
    }